*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-main{
    margin: 0 auto;
    width: 100%;
    background-color: #C4F4E7;
    padding: 13px 7%;
    height: 100vh;
    min-height: max-content;
    color: #fff;
}

.table-container{
    flex: 1;
    border-radius: 10px;
    background: #39A6B0;
    box-shadow: 0 0 44px rgba(8, 7, 16, .6);
    overflow: hidden;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
}

table{
    width: 95%;
    border-collapse: collapse;
    margin: 0.8rem auto;
    table-layout: fixed;
}

th{
    padding: 0.8rem 1rem;
    background-color: #00636E;
}

h2, th{
    padding: .75rem .9375rem;
}

.td-center{
    display: flex;
    justify-content: center;
    gap: 4%;
}

td{
    padding: .5rem;
}

.td-center button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: #294D61;
    color: #fff; 
    transition: background-color 0.3s ease;
}
  
.approveBtn button:hover{
    background-color: #0F969C;
}
  
.deleteBtn button:hover {
    background-color: #cc1414;
}

/* Zebra pattern */
table  tr:nth-child(odd){
    background: #00636E;
}

table tr:hover{
    transform: scale(1.02);
}

.head-table{
    text-align: center;
    margin: auto .5rem;
    column-gap: 2%;
    display: flex;
    justify-content: center;
}

.head-table button{
    padding: .5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.head-table button:hover{
    transform: scale(1.05);

}

.admin-main .head-table button.selected {
    background-color: #00636E;
    color: white;
    cursor: pointer;
  }



