*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #39A6B0;
    padding: .3rem 3rem;
}

.logo {
    width: 35px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Adjust the margin as needed */
    
}

.nav__links img{
    height: 35px;
    padding-left: 30%; 
}

p{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}


/* Footer */
footer {
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
  }

.adm-header a {
    text-decoration: none;
    color: #fff;
    background-color: #294D61;
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid #294D61;
    border-radius: 8px;
}

.adm-header a:hover{
    border: 1x solid #f44336;
    background: #f44336;
    /* transition: 0.5s ; */
    transform: scale(1.02);
}