body{
  background-image: linear-gradient(#55a2d6, 
  rgba(4,9,30,0.7));
  /* background-size: cover;
  background-position: center; */
}

/* For Login */
.log {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: max-content;
  margin: 0 auto;
  padding: 100px;
}
/* End */

/* For Registration */
.logg {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: max-content;
  margin: 0 auto;
  padding: 24px;
}
/* End */

/* For Forget Password */
.loggg{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: max-content;
  margin: 0 auto;
  padding: 170px;
}
/* End */

.container {
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(#176B87, rgba(4, 9, 30, 0.7));
  /* background-color: #176B87; */
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  /* margin: 20px; */
}

.container h1 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #000;
  position: relative;
}

/* For Login */
.group-login {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
/* End */

/* For Registration */
.group-loginn {
  margin-bottom: 12px;
}

.labell {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
/* End */

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form a{
  text-decoration: none;
  color: #45a049;
}

form a:hover {
  text-decoration: underline;
}

/* button css */
.button-group {
  text-align: center;
  margin-top: 10px;
}

.button-group button{
  flex-basis: 100%;
  margin: 20px 0;
  padding: 14px 20px;
  border-radius: 15px;
  text-align: center;
  background-color: #01896e;
  color: #fff;
  border: none;
  outline: 0;
  cursor: pointer;
  }

.button-group button:hover{
  transform: scale(1.03);
}

/* user selection */
.user-selects{
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 3%;
}

.farmer-part, .counsellor-part{
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.user-selects input[type="radio"]{
  display: none;
  margin-right: 5px;
}

.user-selects label{
  border-radius: 50px;
  padding: 10px 40px;
  color: #01896e;
  width: 100%;
  border: 2px solid #01896e;
  transition: background 0.5s;
  cursor: pointer;
}

.user-selects label:hover{
  color: #fff;
  background-color: #01896e;
  transform: scale(1.03);
}

.farmer-part input[type="radio"]:checked +label,
.counsellor-part input[type="radio"]:checked +label{
  background-color: #01896e;
  border-color: #01896e;
  color: #fff;
}
/* end */

.error-message{
  /* background-color: #474846; */
  color: #ff8482;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}

span{
  color: #fff;
}

/* Forget Password */
.back-button{
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.group-login .labelll input[type="email"]{
  width: 50%
}
