/* CSS for form container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: -webkit-fill-available;
  margin: 70px auto;
  padding: 20px;
}

#right {
  background-color: #f1f1f1;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#right h1 {
  font-weight: bold;
  margin-bottom: 24px;
  color: #333;
  display: flex;
  justify-content: center;
}

#right a {
  display: flex; 
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  padding: 12px 34px;
  width:30%;
  font-size: 13px;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#right label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
  /* padding: 10px; */
}

#right a:hover {
  background-color: #333;
  color: #fff;
}

/* CSS for form fields */
.textbox {
  margin-bottom: 5px;
}

.textbox label {
  display: block;
  margin-bottom: 10px;
  color: #555;
  width: -webkit-fill-available;
}

.textbox textarea {
  width: -webkit-fill-available;
  height: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"],
textarea {
  padding: 10px;
  margin-bottom: 15px;
  width: -webkit-fill-available;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  display: block;
  margin: 0 auto; /* This centers the element horizontally */
  background-color: #4caf50;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #45a049;

}

/* Additional styles */
/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
} */
