/* Adjust the .table-wrapper class */
.table-wrapper {
    padding: 20px;
    margin: 10px 20px; /* Adjust margin for spacing */
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
    width: auto; /* Allow the table to adjust its width */
    background-color: #001C30;
    border-radius: 20px;
    display: flex;
    flex-direction: column; /* Set column layout for child elements */
    align-items: center; /* Center contents horizontally */
  }
  
  /* Adjust the .fl-table class */
  .fl-table {
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: #176B87;
    border-radius: 10px;
  }
  
  /* Adjust cell styling if needed */
  .fl-table td,
  .fl-table th {
    text-align: center;
    padding: 10px;
    border-right: 1px solid #080000;
    font-size: 16px;
  }
  
  /* Adjust table header styling */
  .fl-table thead th {
    color: #0f0101;
    background: #4fc3a1;
    padding: 12px;
  }
  
  /* Adjust even row background */
  .fl-table tr:nth-child(even) {
    background: #f8f8f8;
  }
  
  /* Adjust input button styling */
  input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #4fc3a1;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  /* Hover and focus styles for the button */
  input[type="submit"]:hover {
    background-color: #007bff;
  }
  
  input[type="submit"]:focus {
    outline: none;
  }
  